[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pynetbox = "==7.4.1"
requests = "==2.32.3"
fastapi = "==0.115.12"
uvicorn = {extras = ["standard"], version = "==0.34.0"}
prometheus-client = "==0.21.1"

[dev-packages]

[requires]
python_version = "3.12"
